* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }

header {
  position: fixed;
  top: 0px;
  z-index: 3;
  height: 8rem;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  header div {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header div img {
      height: 46%; }
    header div ul {
      list-style: none;
      width: 35%;
      display: flex;
      justify-content: space-between; }
      header div ul li {
        height: 20px;
        width: auto;
        position: relative; }
        header div ul li a {
          color: #eee;
          margin-bottom: 0.5rem;
          text-align: center;
          width: 100%;
          font-size: 1.3rem; }
        header div ul li p {
          z-index: 5;
          transition: 0.5s;
          position: absolute;
          left: 0;
          height: 1px;
          bottom: 1px;
          background: #fff;
          width: 0px; }
        header div ul li:hover a {
          color: #fff; }
        header div ul li:hover p {
          width: 100%; }

.swiper-container {
  height: 50rem;
  width: 100%; }
  .swiper-container .swiper-slide {
    position: relative; }
    .swiper-container .swiper-slide img {
      position: absolute;
      left: 10rem;
      top: 10rem;
      height: 15rem;
      width: 15rem; }
  .swiper-container .swiper-pagination span {
    background: yellow; }

#swiper1 {
  width: 100%;
  background: url(home_bg.jpg) no-repeat;
  background-size: 100% 100%; }

#swiper2 {
  width: 100%;
  background: url(home_bg2.jpg) no-repeat;
  background-size: 100% 100%; }

#swiper3 {
  width: 100%;
  background: url(home_bg0.jpg) no-repeat;
  background-size: 100% 100%; }

#swiper4 {
  width: 100%;
  background: url(home_bg5.jpg) no-repeat;
  background-size: 100% 100%; }

.sec1 {
  margin: 0.3rem 0px;
  height: 17rem;
  width: 100%; }
  .sec1 div {
    position: relative;
    float: left;
    height: 100%;
    width: 25%;
    border: 3px solid #fff;
    box-sizing: border-box; }
    .sec1 div h3 {
      font-weight: 500;
      color: #EDEDF3;
      font-size: 2.4rem;
      position: absolute;
      top: 2.3rem;
      left: 2rem; }
    .sec1 div a {
      font-size: 1.4rem;
      position: absolute;
      bottom: 2.3rem;
      left: 2rem;
      display: block;
      color: #EDEDF3;
      width: 10.8rem;
      height: 3.4rem;
      text-align: center;
      border: 1px solid #EDEDF3;
      border-radius: 20px;
      line-height: 3.4rem; }
      .sec1 div a:hover {
        background: #fff;
        color: #000; }
  .sec1 #secdiv1 {
    background: url(share_img.png) no-repeat;
    border-left: none;
    background-size: 100% 100%; }
  .sec1 #secdiv2 {
    background: url(event_img.png) no-repeat;
    background-size: 100% 100%; }
  .sec1 #secdiv3 {
    background: url(family_img.png) no-repeat;
    background-size: 100% 100%; }
  .sec1 #secdiv4 {
    background: url(active_img.jpg) no-repeat;
    background-size: 100% 100%;
    border-right: none; }

footer {
  background: #191919;
  width: 100%;
  padding: 60px 0px 0px 0px; }
  footer .fimg1 {
    display: block;
    width: 27rem;
    margin: 0 auto; }
  footer .fp1 {
    margin-top: 1.6rem; }
  footer p {
    padding: 0.6rem 0 0 0.6rem;
    font-size: 1.2rem;
    color: #a3a3a3;
    text-align: center; }
  footer div {
    margin-top: 1.5rem;
    text-align: center; }
    footer div .fa1 {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background: url(social_icon1.png) no-repeat; }
    footer div .fa2 {
      margin-left: 2rem;
      display: inline-block;
      background-image: url(social_icon.png);
      background-repeat: no-repeat;
      background-position: -2.2rem 0rem;
      width: 2.3rem;
      height: 2rem; }
  footer .lastp {
    margin-top: 2rem;
    border-top: 1px solid #555;
    height: 50px;
    line-height: 50px;
    text-align: center; }

/*# sourceMappingURL=index.css.map */
